*{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 28px;
}
html{
    scroll-behavior: smooth;
  }
body{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/confetti.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}
.rw-wrapper{
    max-width: 80%;
    position: relative;
    margin: 110px auto 0 auto;
}
.rw-sentence{
    margin:0;
    text-align: left;
}
.rw-sentence span{
    white-space: nowrap;
}
.rw-words{
    display: inline;
    text-indent: 10px;
}
.rw-words-1 span{
    position: absolute;
    opacity: 1;
    overflow: hidden;
    transform-origin: 10% 75%;
    animation: rotateWord 18s linear infinite 10s;
}
.stanza{
    padding-left: 40px;
}
a{
    text-decoration: none;
}
a p{
    color: #3f59c8;
    font-size: 16px;
}
.fa-chevron-down{
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    margin-left: 150px;
    color: #3f59c8;
}
.letters{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.letters > .letter{
    position:absolute;
    top:-25vh;
    animation: fallIn 5s ease-in-out, rotation 3s linear;
}
@keyframes rotateWord {
    0% { opacity: 0; }
    5% { opacity: 1; }
    17% { opacity: 1; -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	19% { opacity: 1; -webkit-transform: rotate(98deg); transform: rotate(98deg); }
	21% { opacity: 1; -webkit-transform: rotate(86deg); transform: rotate(86deg); }
	23% { opacity: 1; -webkit-transform: translateY(85px) rotate(83deg); transform: translateY(85px) rotate(83deg); }
	25% { opacity: 0; -webkit-transform: translateY(170px) rotate(80deg); transform: translateY(170px) rotate(80deg); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
	40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
	60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
	40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
	60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes fallIn{
    to { 
        top: 200vh;
    }
}