*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Oxygen', sans-serif;
}
html{
    scroll-behavior: smooth;
    background: linear-gradient(#91afba, #c7d1d6);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
}
nav{
    height: 120px;
    font-size: 24px;
}
nav img{
    /* border: 1px black solid; */
    padding: 40px;
}
.active,a:hover{
    font-weight: 900;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration: wavy;
}
.wrapper{
    /* border: 1px black solid; */
    margin: 10px;
    padding: 90px;
    height: 100vh;
    max-width: 1200px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}
.card-category{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/playthings.webp);
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .2em;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 95px;
    width: 350px;
}
.cards :hover{
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: white;
}
.card-category a{
    color: white;
}

@media (min-width: 100px) and (max-width: 768px){
    .wrapper{
        padding: 5px;
    }
    .cards{
        grid-template-columns: 1fr;
    }
}