*{
    text-decoration: none;
    list-style: none;
    font-family: 'Oxygen', sans-serif;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    display: flex;
    height: 100vh;
}
nav{
    background: linear-gradient(#E6EEEF, #F3E4E2);
}
p:only-of-type{
    margin-bottom: 20px;
}
ul li:hover{
    font-weight: 700;
}
nav > *{
    font-size: 16px;
    margin-left:20px ;
    text-align: center;
}
a:hover{
    font-weight: 900;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration: wavy;
    color: white;
}
.wrapper{
    background: linear-gradient(#91afba, #CB958E);
    width: 100%;
    padding: 8em;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}
.card{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/playthings.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .2em;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 3.4em 1.5em;
    height:88px;
    width: 375px;
}
a:only-of-type{
    color: white;
}



@media (min-width: 100px) and (max-width: 1000px){
    body{
        flex-direction: column;
    }
    .wrapper{
        padding: 8em 0;

    }
    .cards{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .card{
        width: 244px;
    }
}