*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Oxygen', sans-serif;
}
body{
    display: flex;
}
nav{
    background: linear-gradient(#E6EEEF, #F3E4E2);
}
p{
    margin-bottom: 20px;
}
ul li:hover{
    font-weight: 700;
}
nav > *{
    font-size: 16px;
    margin-left:20px ;
    text-align: center;
}
.active,a:hover{
    font-weight: 900;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration: wavy;
}
.wrapper{
    background: linear-gradient(#91afba, #CB958E);
    /* border: 1px black solid; */
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}
.card-category{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/playthings.webp);
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .2em;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 95px;
    width: 350px;
}
.cards :hover{
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: white;
}
.card-category a{
    color: white;
}

@media (min-width: 100px) and (max-width: 800px){
    body{
        flex-direction: column;
    }
    .wrapper{
        padding: 5px;
    }
    .cards{
        flex-basis: 140px;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
@media (min-width: 1330px) {
    .wrapper{ 
        padding: 40px;
    }
    .cards {
        margin: 140px;
        padding: 20px;
    }
}